<% if logged_in? %>
  <div class="row">
    <aside class="col-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="post_form">
        <%= render 'shared/post_form' %>
      </section>
    </aside>
    <div class="col-8">
      <h3>投稿一覧</h3>

      <div class="container">
        <div class="row">
        <% @posts.each do |post| %>
          <div class="col-sm-4 card mb-3">
          <li>
            <a href="/posts/<%= post.id %>"><%= post.title %></a>
            <% if @user.picture %>
              <%= image_tag post.picture, :size => "210x150"  %>
            <% else %>
              <%= image_tag post.user.image.url, :size => "60x60" %>
            <% end %>
          </li>
            <%= post.content %>
          </div>
        <% end %>
        </div>
      </div>      
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>ようこそ PlaceCheck</h1>

    <h2>
      行きたい場所の作業環境を
      チェックできるサービスです。
    </h2>

    <%= link_to "今すぐ登録する", signup_path, class: "btn btn-lg btn-primary" %>
  </div>

<% end %>