<% if logged_in? %>
  <div class="row">
    <aside class="col-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="post_form">
        <%= render 'shared/post_form' %>
      </section>
    </aside>
    <div class="col-8">
      <h3>投稿一覧</h3>

      <div class="container">
        <div class="row">
        <% @posts.each do |post| %>
          <div class="col-sm-4 card mb-3">
          <li>
            <div>
              <% if post.user.picture %>
                <%= link_to image_tag post.user.picture.url, :size => "30x30" %>
              <% else %>
                <%= link_to image_tag post.user.image.url, :size => "30x30" %>
              <% end %>
              <%= link_to post.user.name, post.user %>
            </div>
            <% if @user.picture %>
              <% post.picture.each do |pp| %>
                <%= image_tag pp, :size => "210x150", class: 'mt-2' %>
              <% end %>
            <% else %>
              <%= image_tag post.user.image.url, :size => "60x60" %>
            <% end %>
          </li>
            <div>
              <i class="fas fa-heart"><%= post.liked_users.count %></i>
              <i class="fas fa-comment"><%= post.comments.count %></i>
            </div>
            <h5><a href="/posts/<%= post.id %>"><%= simple_format(post.title) %></a></h5> 
            <%= simple_format(post.content) %>
            <%= time_ago_in_words(post.created_at) %>前
          </div>
        <% end %>
        </div>
      </div>      
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="back col-12">
      <h1>ようこそ PlaceCheck</h1>
      <h2 class="col-10 col-md-12">
        行きたい場所の作業環境を
        チェックできるサービスです。
      </h2>

      <%= link_to "今すぐ登録する", signup_path, class: "btn btn-lg btn-primary" %>
      <%= link_to 'テストユーザーでログイン', testsessions_path, method: :post, class:"btn btn-lg btn-success center-block" %>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>

<% end %>