<% provide(:title, 'ユーザー一覧') %>
<h1>ユーザー一覧</h1>

<%= will_paginate %>     

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <% if user.picture %>
        <%= image_tag user.picture.url, :size => "60x60" %>
      <% else %>
        <%= image_tag current_user.image.url %>
      <% end %>
      <%= link_to user.name, user %>
      <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "削除しますか?" } %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>
