<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <% if @user.picture %>
          <%= image_tag @user.picture.url, :size => "60x60" %>
        <% else %>
          <%= image_tag current_user.image.url %>
        <% end %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.posts.any? %>
      <h3><%= @user.name %> さんの投稿一覧 (<%= @user.posts.count %> ) 件</h3>

      <a href="<%= like_posts_user_path(@user) %>">いいね一覧</a>

      <ol class="posts">        
        
        <div class="container">
          <div class="row">
          <% @posts.each do |post| %>
            <div class="col-sm-4 card mb-3">
            <li>

              <% if post.user.picture %>
                <%= image_tag post.user.picture.url, :size => "40x40" %>
              <% else %>
                <%= image_tag post.user.image.url, :size => "40x40" %>
              <% end %>

              <%= post.user.name %>
              <% if @user.picture %>
                <%= image_tag post.picture, :size => "210x150"  %>
              <% else %>
                <%= image_tag post.user.image.url, :size => "60x60" %>
              <% end %>
            </li>
              <a href="/posts/<%= post.id %>" class="font-weight-bold"><%= post.title %></a>
              <%= post.content %>
            </div>
          <% end %>
          </div>
        </div>

      </ol>
    <% end %>
  </div>
</div>