<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <% if @user.picture %>
          <%= image_tag @user.picture.url, :size => "60x60" %>
        <% else %>
          <%= image_tag current_user.image.url e%>
        <% end %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.posts.any? %>
      <h3><%= @user.name %> さんの投稿一覧 (<%= @user.posts.count %> ) 件</h3>
      <ol class="posts">
        <% @posts.each do |post| %>
        <li><a href="/posts/<%= post.id %>"><%= post.title %></a></li>
        <% end %>
      </ol>
    <% end %>
  </div>
</div>