<%= provide(:title, '新規投稿') %>
<div>
    <%= form_for @post do |f| %>
        <div>
            <h4>作業環境チェック</h4>
            <div>
                <%= f.text_field :title, placeholder: '(例)モスバーガー(場所)', class: 'form-control' %>
            </div>
            <div>
                <div>
                    <%= f.text_area :content, placeholder: '(例)トイレが綺麗だった   (コメント)', class: 'form-control' %>
                </div>
                <div>
                    <div>
                        <div>
                            <div>
                                <h6><span class="badge-danger">必須</span></h6>
                                <%= f.label :wifi, class: 'font-weight-bold' %>
                            </div>
                            <div>
                                <%= f.select :data1, [1, 2, 3, 4, 5], { include_blank: '選択して下さい' }, class: 'mb-1 form-control' %>
                            </div>
                        </div>
                        <div>
                            <div>
                                <h6><span class="badge-danger">必須</span></h6>
                                <%= f.label :テーブルの広さ,  class: 'font-weight-bold' %>
                            </div>
                            <div>
                                <%= f.select :data2, [1, 2, 3, 4, 5], { include_blank: '選択して下さい' }, class: 'mb-1 form-control' %>
                            </div>
                        </div>
                        <div>
                            <div>
                                <h6><span class="badge-danger">必須</span></h6>
                                <%= f.label :空調, class: 'font-weight-bold' %>
                            </div>
                            <div>
                                <%= f.select :data3, [1, 2, 3, 4, 5], { include_blank: '選択して下さい' }, class: 'mb-1 form-control' %>
                            </div>
                        </div>
                        <div>
                            <div>
                                <%= f.label :人の少なさ,  class: 'font-weight-bold' %>
                            </div>
                            <div>
                                <%= f.select :data4, [1, 2, 3, 4, 5], { include_blank: '選択して下さい' }, class: 'mb-1 form-control' %>
                            </div>
                        </div>
                        <div>
                            <div>
                                <%= f.label :静かさ, class: 'font-weight-bold' %>
                            </div>
                            <div>
                                <%= f.select :data5, [1, 2, 3, 4, 5], { include_blank: '選択して下さい' }, class: 'mb-1 form-control' %>
                            </div>
                        </div>
                    </div>
                </div>
                <span class="picture">
                    <%= f.file_field :picture, multiple: true, class: 'mb-2' %>
                </span>              
            </div>
            <div>
                <div class="">
                    <%= f.submit '投稿する', class: 'btn btn-primary btn-lg'%>
                </div>
            </div>
        </div>
    <% end %>
</div>
<canvas id="myChart"></canvas>
<script>draw_example_chart();</script>


